{% extends "base.html" %}
{% block title %}
<title>About Me</title>
<link rel="stylesheet" href="{{ url_for('static' , filename='css/style.css') }}">
{% endblock %}



{% block content %}
<section>
    <div>
        <!-- <img src="{{ url_for('static' ,filename='img/cool_img.png ' ) }}"/> -->
        <div style=" text-align: center; max-width: 700px; margin: 20px auto;">  
            <h1> About </h1>
            <h3>This site is a blogging and social media website. <br> Here you can share your ideas with the world</h3>
        </div>
    </div>
    </section>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
{% endblock %}
